body {
  font-size: 2em;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  /* overflow: hidden; */
  /* display: table; */

  background: #ccc;
}

.container ::after {
  content: "";
  display: block;
  clear: both;
}

.left {
  float: left;
}

p {
  clear: right;
}

.right {
  float: right;
  margin-right: -80px;
}

.clear {
  clear: both;
}

header {
  overflow: hidden;
}

.menu {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu a:hover {
  background: yellow;
}

.menu > li {
  float: left;
  border: 2px solid red;
}

*:focus {
  background: violet !important;
}

.btn {
  float: right;
  padding: 20px 40px;
  background: blue;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.8s;
}

.logo {
  float: left;
}

.btn:hover {
  background: green;
  box-shadow: -2px -2px 5px #000;
}

#opener:checked + label {
  color: red;
}

#opener:checked ~ .menu {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 3px solid black;
}

td {
  border: 2px solid black;
}

td:only-child {
  background: rgb(82, 239, 9);
}

.block {
  overflow: hidden;
}

.col {
  padding: 20px;
  float: left;
  width: 50%;
}

.col:first-child {
  background: green;
}

.col:last-child {
  background: yellow;
}

.col:only-child {
  width: 100%;
}

.col:empty {
  background: red;
}

tr:nth-child(3) td:nth-child(even) {
  background: red;
}

tr:nth-child(3n) td:nth-child(3) {
  background: blue;
}

tr:nth-child(3n) td:nth-child(2n) {
  background: green;
}

tr:nth-child(odd) td:nth-child(odd) {
  background: rgb(16, 171, 214);
}
